.App {
  text-align: center;
}

form {
  margin-bottom: 15px;
}

input {
  margin: 15px;
  width: 50%;
  height: 35px;
}

.content {
  /* border: 2px solid red; */
  border-radius: 5px;
  margin: 5px auto;
  font-size: large;
  padding: 5px;
  width: 80%;
  height: 30px;
  background-color: #fff;
  color: black;
}

.addedContent {
  display: inline-block;
  width: 50%;
  /* border: 2px solid blue; */
}

.addButton {
  height: 40px;
  width: 50px;
}

.inputModal {
  width: 90%;
}

.addModal {
  margin-left: 15px;
}

.header {
  background-color: red;
  height: 40px;
  font-weight: 700;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
}

.adddelButton {
  height: 30px;
  width: 40px;
}

.addModal {
  height: 30px;
  width: 60px;
  margin-right: 10px;
}

.closeModal {
  height: 30px;
  width: 60px;
}
