.App {
  text-align: center;
}

form {
  margin-bottom: 15px;
}

input {
  margin: 15px;
  width: 50%;
  height: 25px;
}

.content {
  /* border: 2px solid red; */
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px;
  width: 80%;
  /* height: 20px; */
  background-color: #fff;
  color: black;
}

.addedContent {
  display: inline-block;
  width: 50%;
  /* border: 2px solid blue; */
}

.addButton {
  height: 30px;
  width: 50px;
}

.inputModal {
  width: 90%;
}

.addModal {
  margin-left: 15px;
}

.header {
  background-color: red;
  padding: 5px;
  color: white;
}